:root {
  --pr-color: #1783FF;
}
body{
  font-family: Poppins,sans-serif;
  background-color: #edf6ff;
}



/* Navbar */
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
}

.navbar {
  z-index: 3;
}

.nav-color{
  background-color: var(--pr-color);
  transition: all ease-in-out .5s;
}
.bg-tarnsparent{
  transition: all ease-in-out .5s;
}
* {
  z-index: 2;
}
.acssent-img {
  z-index: 1;
}

.navbar-brand {
  font-weight: 700;
}
.navbar-nav .nav-link {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  transition: all 0.3s ease; /* Transisi halus untuk hover */
  position: relative;
}

.navbar-nav .nav-link.active {
  font-weight: 700;
  color:#fff; /* Ubah warna teks untuk link aktif */
}

.button-secondary {
  width: 133px;
  height: 40px;
  background-color: var(--pr-color);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s ease; /* Transisi halus untuk hover */
}
.button-primary {
  width: 133px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease; /* Transisi halus untuk hover */
}

/* hover navbar */


.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background:#fff;
  -webkit-transition: width 0.3s ease; 
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link:hover::after {
  width: 100%; 
  left: 0;
  right: auto;
}

.button-primary:hover {
  background-color: #fff;
  color: var(--pr-color);
  border: 2px solid var(--pr-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.button-secondary:hover {
  background-color: #fff;
  color: var(--pr-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}



/* Hero Section */
#hero {
    background: url('../Assets/img/heroimg.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
.hero-tagline h1 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
}
.hero-tagline p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 60px;
  margin-top: 20px;
  line-height: 30px;
  width: 85%;
}
.button-lg-primary {
  width: 300px;
  height: 70px;
  background-color: #fff;
  color: var(--pr-color);
  border: none;
  font-size: 20px;
  font-weight: 700;
}
/* -------------------------------------------- */
/* statistik penjualan */

#statistik{
  padding: 100px 0;
  text-align: center;
}
h2{
  font-size: 48px;
  font-weight: 500;
  color: var(--pr-color);
  
}

.sub-title{
  font-size: 18px;
  color: #000;
}
.card-statistik h4{
  font-size: 24px;
}
.card-statistik {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 8px rgb(51, 127, 247);
  width: 80%;
  transition: all 0.3s ease; 
}

.circle-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.circle-icon img {
  max-width: 50px;
  max-height: 50px;
  transition: transform 0.3s ease;
}

.card-layanan h3{
  color:var(--pr-color);
  font-size: 24px;
  transition:all .2s ease-in;
}

/*--------------------------------------------------------*/


/* Additional styles for button and arrow */
.button-lg-primary {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-lg-primary:hover {
  background-color: #0056b3;
}

.hero-tagline img {
  margin-top: 10px;
  width: 30px; /* Adjust this as needed */
  height: auto;
  transition: transform 0.3s ease;
}

.hero-tagline img:hover {
  transform: scale(1.2);
}


/* pemesanan */

#pemesanan{
  padding: 100px 0;
}
#pemesanan img {
  margin-bottom: 15px; 
}
#pemesanan h3 {
  margin-top: 10px;
  font-size: 28px;
  color: #333;
}

#pemesanan span {
  display:inline-block;
  margin-top: 10px;
  color: #666; 
  font-size: 12px;
}


/* Section layanan */

.card{
  height: 445px;
  width: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
}
.card-body h4{
  color: #000;
  font-weight: 600;
  font-size: 19px;
  line-height: .8rem;
}
.card-body h3{
  color: #141414;
  font-size: 22px;
}
.card-body button{
  background-color: var(--pr-color);
  text-align: center;
  margin-left: 3rem;
  border: none;
}
/* General styles for the card */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 16px rgb(47, 97, 246);
}

/* Styles for the card image */
.card img {
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.1);
}

/* Styles for the button */
.card-body button {
  width: 219px;
  height: 64px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.card-body button:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.05);
}



footer{
  width: 100%;
  height: 400px;
  margin-top: 6rem;
  background: #fff;
}
.copyright{
  bottom: 1%;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}

footer a{
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  margin-bottom: 12rem;
   margin-left: -2rem;
}
footer p{
  margin-top: 4rem;
  margin-left: -20rem;
  width: 555px;
}